/* ----- ----- ----- CSS Custom File ----- ----- ----- */

/* ----- Added Fonts & Font Modifications ----- */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.otf') format('truetype');
}

@font-face {
    font-family: 'Champagne';
    src: url('../fonts/Champagne & Limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ChampagneBold';
    src: url('../fonts/Champagne & Limousines Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChampagneBold'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* False bold, to get ChampagneBold in Bold */
strong { text-shadow: 1px 0px 1px currentColor; /* 1px 0px 0px pour enlever le "flou" */ }

/* ----- -----  Design Rules & Elements ----- ----- */

.responsive_img {

    display: block;
    max-width: 100%;
    /*height: auto;*/
    margin: auto;

}

.title {

    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    /*font-size: calc(1.5em + 5vh);*/

}

.text {

    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    /*font-size: calc(1em + 2.5vh);*/

}

/* Creates an horizontal line after the element */
.hline-bottom {
    margin: auto;
    width: 65%;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    margin-bottom: 2.5vh;
    border-bottom: 2px solid #000;
}

.centered { text-align: center; }

/* ----- ----- Header Elements ----- ----- */

header {
    
    width: 95%;
    
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    
}

#subheader {
    
    text-align: center;
    
    color: whitesmoke;
    font-family: 'Russo One','Trebuchet MS', Arial, sans-serif;
    font-size: calc(2em + 2.5vw);
    
}

/* ----- Navbar ----- */

#nav ul li {
    
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    
}

#nav ul li a {
    
    color: whitesmoke;
    
    text-transform: uppercase;
    font-family: 'Archive','Trebuchet MS', Arial, sans-serif;
    font-size: calc(1em + 1vw);
    
}

#nav ul li a:hover {
    
    color: #428bca;
    text-decoration: overline underline;

}

/* ----- ----- Page Content ----- ----- */

h1.title {
    
    margin-bottom: 2.5vh;
    text-decoration: underline;
    
}

.content {

    width: 95%;
    margin: auto;

}

.usermenu > .btn {

    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 1vh);
    
}

/* ----- Blogposts (List) ----- */

.posts_list > .element {
    
    background-color: lightgrey;
    border-style: solid;
    
    margin-bottom: 2.5vh;
    padding: 2.5vh;
    
}

.posts_list > .element > .image {
    
    margin-bottom: 2.5vh;
    
}

.posts_list > .element > .image > img {
    
    max-height: 400px;
    width: auto;
    display: block;
    
}

.posts_list > .element > .title {
    
    font-size: calc(1em + 1.5vh);
    
    margin-left: 5vw;
    margin-bottom: 1.5vh;
    
}

.posts_list > .element > .content {
    
    /**/
    
    margin-bottom: 2.5vh;
    
}

.posts_list > .element > .info > .details {
    
    font-style: italic;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    
}

.posts_list > .element > .menu {
    
    /* TODO : Align right (stick to right side) */
    
}

/* ----- Blogposts (Single) ----- */

.post > .element {
    
    background-color: lightgrey;
    border-style: solid;
    
    margin-bottom: 5vh;
    padding: 2.5vh;
    
}

.post > .element > .title {
    
    font-size: calc(1.5em + 3vw);
    
    margin-left: 5vw;
    margin-bottom: 1.5vh;
    
}

.post > .element > .image {
    
    margin: auto;
    margin-bottom: 5vh;
    width: 95%;
    
}

.post > .element > .image > img {
    
    max-height: 750px;
    width: auto;
    
    border: 5px solid #428bca;/*lightslategray/dimgrey*/
    
    display: block;
    margin: auto;
    
}

.post > .element > .content {
    
    font-size: 1.20em;
    margin-bottom: 5vh;
    
}

.post > .element > .info > .details {
    
    font-size: 1.20em;
    font-style: italic;
    /*text-decoration: underline overline;*/
    
    margin-right: 5vw;
    
}

.post > .element > .info > .menu > .btn {
    
    font-size: 1.20em;
    /* TODO : Align right (stick to right side) */
    
}

/* ----- Comments (List) ----- */

.comments_list > .title {
    
    font-size: calc(1em + 1vh);
    
    margin-left: 5vw;
    margin-bottom: 1.5vh;
    
}

.comments_list > .element {
    
    /*width: 45%;*/
    
    background-color: darkgrey;
    
    margin-bottom: 2vh;
    
}

.comments_list > .element > .content {
    
    /* */
    
}

.comments_list > .element > .info > .details {
    
    margin-right: 2.5vw;
    
}

.comments_list > .element > .info > .details > time {
    
    font-style: italic;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    
}

.comments_list > .element > .info > .details > .menu {
    
    /* TODO : Align right (stick to right side) */
    
}

/* ----- Comments (Single) ----- */

.comment > .element > .title {
    
    font-size: calc(1em + 1.5vh);
    
    /*margin-left: 5vw;
    margin-bottom: 1.5vh;*/
    
}

.comment > .element {
    
    /*width: 45%;*/
    
    background-color: darkgrey;
    
    margin-bottom: 2vh;
    
}

.comment > .element > .content {
    
    font-size: calc(1em + 1vh);
    
}

.comment > .element > .details {
    
    margin-right: 2.5vw;
    font-size: calc(1em + 0.75vh);
    
}

.comment > .element > .details > time {
    
    font-style: italic;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    
}

.comment > .element > .info > .details > .menu {
    
    /* TODO : Align right (stick to right side) */
    
}

/* ----- ----- Footer ----- ----- */

footer {
    
    width: 95%;
    
    padding: 1vh;
    
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    
}

#legal {
    
    text-align: center;
    
    color: whitesmoke;
    font-family: 'Champagne','Trebuchet MS', Arial, sans-serif;
    font-size: calc(1em + 0.5vw);
}

/* ----- ----- ----- EOF - CSS Custom File ----- ----- ----- */