/* Fichier CSS Custom */
/* Nothing here for now */

/* ----- Added Fonts & Font Modifications ----- */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.otf') format('truetype');
}

@font-face {
    font-family: 'Champagne';
    src: url('../fonts/Champagne & Limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ChampagneBold';
    src: url('../fonts/Champagne & Limousines Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChampagneBold'; /* Italic version */
    src: url('../fonts/Champagne & Limousines Bold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* False bold, to get ChampagneBold in Bold */
strong { text-shadow: 1px 0px 1px currentColor; /* 1px 0px 0px pour enlever le "flou" */ }

/* ----- -----  Design Rules & Elements ----- ----- */

.responsive_img {

    display: block;
    max-width: 100%;
    /*height: auto;*/
    margin: auto;

}

.title {

    font-family: 'Archive','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1.5em + 5vh);

}

.text {

    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 2.5vh);

}

/* Creates an horizontal line after the element */
.hline-bottom {
    margin: auto;
    width: 65%;
    margin-top: 2.5vh;
    padding-bottom: 2vh;
    margin-bottom: 2.5vh;
    border-bottom: 2px solid #000;
}

.centered {
    
    text-align: center;
    
}

/* ----- -----  Page Content ----- ----- */

.content {

    width: 95%;
    margin: 2.5%;

    /*text-align:center;

    width: 95%;
    text-align: center;
    margin: auto;*/

}

.posts_list {
    
}

.posts_list > .element {
    
}

.posts_list > .element > .title {
    
    font-size: calc(1.5em + 1.5vh);
    color: red;
    
}

.posts_list > .element > .content {
    
    font-size: calc(1em + 0.5vh);
    color: orange;
    
}

.posts_list > .element > .menu {
    
    /*font-size: calc(1em + 0.5vh);*/
    color: yellow;
    
}

.itemlist {

    margin-top: 2.5%;
    margin-bottom: 2.5%;

}

.itemlist > .list {

    font-family: 'ChampagneBold','Trebuchet MS', Arial, sans-serif; /* Fonts, in order of appearance */
    font-size: calc(1em + 1vh);
    list-style: none;
    
    //width: 50%;

}

.itemlist > .list > .element {

    background-color: rgba(155,155,155,0.5);
    border-radius: 1vw;
    
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.5vw;

}

.itemlist > .list > .element > input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
    
    margin-left: 1vw;
    margin-right: 1vw;
}

.qcm_list {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    list-style: none;
}

.qcm_list_element {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

/*
ALL
THE
REST
---
CSS
CODE
HERE
*/