{# 'legal.twig' ~ Legal informations (License, Author, Sources, etc) #}

Website made <a href="https://www.youtube.com/playlist?list=PLJ-QLuB-Zn_k_mCdnfzQB6O4JjEp8cWSj">in music</a> by Tom-Brian Garcia (<em>a.k.a. TBG</em> ) with the PHP framework 'Silex'<br/>
Project for the "ProjetWeb" course for Computer Sciences 'DUT' at Lyon1 University (Bourg-en-Bresse)