{# 'layout.twig' ~ Base HTML template #}

<lu>

    <li>
    <a href="{{app.request.basepath}}/">Home</a>
    </li>

    <li>
    <a href="{{app.request.basepath}}/">Oth</a>
    </li>

    <li>
    <a href="{{app.request.basepath}}/">Ano</a>
    </li>

</lu>