{# 'displaylist.twig' ~ Page displaying all the items #}

{% extends "layout.twig" %}

{% block head %}
    <title>TP3 - Todo List</title>
{% endblock %}

{% block body %}

    <div class="centered">

    <p class="title">Todo List ~ TP3</p>

    {% include "itemcreation.twig" %}
        
    </div>

    {% include "itemlist.twig" %}

{% endblock %}