{# 'itemlist.twig' ~ Block listing all the items, with the needed buttons #}

{% block itemlist %}

<div class="itemlist">
    <ul class="list">
        {% for item in items %}
            <li class="element">
                
                {# Place the checkbox, checked or not #}
                <input type="checkbox" name="check"
                       {% if item.getCheck() == 1 %}checked{% endif %}
                disabled>
                
                {# Place the title of the item and the delete link #}
                {{ item.getTitle()|capitalize }}
                <a class="btn btn-danger" href="remove/{{ item.getID() }}" role="button">Delete it !</a>
                
                {# Place the (Un)checked link #}
                <a 
                    {% if item.getCheck() == 1 %} class="btn btn-warning" 
                    {% else %} class="btn btn-success" 
                    {% endif %}
                    href="check/{{ item.getID() }}" role="button">
                    {% if item.getCheck() == 1 %} Uncheck it !
                    {% else %} Check it !
                    {% endif %}
                </a>
                
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock itemlist %}


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">UNE PLACE ICI</div>
                <div class="col-md-2">UNE PLACE ICI</div>
                <div class="col-md-2">UNE PLACE ICI</div>
                <div class="col-md-2">UNE PLACE ICI</div>
                <div class="col-md-2">UNE PLACE ICI</div>
                <div class="col-md-2">UNE PLACE ICI</div>
            </div>
        </div>