{# 'layout.twig' ~ Base HTML template #}

<!DOCTYPE html>
<html lang="fr">

    <head>
        
        {% block head %}
        <title>SilexBlog - Default Page Title</title>
        {% endblock %}
        
        <meta charset="utf-8"/>

        {% include "includes/design.twig" %}
        
    </head>
    
    <body>
        <header>
            {% block header %}
            
                {% include "includes/navbar.twig" %}
            
            {% endblock header %}
        </header>
                
        <div class="content">
            {% block body %}
            
                <p class="text">Default Body Block</p>
            
            {% endblock body %}
        </div>
        
        <footer>
            {% block footer %}
            
                {% include "includes/legal.twig" %}
            
            {% endblock footer %}
        </footer>
    </body>

</html>