{# 'page_allposts.twig' ~ Page displaying all the posts (aka the homepage here) #}

{% extends "includes/layout.twig" %}

{% block head %}

    {% if short is defined %}
    <title>SilexBlog - Posts [Admin]</title>
    {% else %}
    <title>SilexBlog - Home</title>
    {% endif %}

{% endblock %}

{% block body %}

    {% include "posts_display_list.twig" %}

{% endblock %}