{# 'page_error.twig' ~ Page displaying errors #}

{% extends "layout.twig" %}

{% block head %}
    <title>SilexBlog - Error...</title>
{% endblock %}

{% block body %}

    <div class="text centered">
        Error : {{ error|capitalize }}
        
        <br/><br/>
        
        <a class="btn btn-primary" href="{{app.request.basepath}}/}}">Go back to Homepage</a>
    </div>

{% endblock %}