{# 'page_singlecomment.twig' ~ Page displaying one single comment #}

{% extends "includes/layout.twig" %}

{% block head %}
    <title>SilexBlog - {{ post.getTitle()|capitalize }}</title>
{% endblock %}

{% block body %}

    {% include "comments_display_single.twig" %}

{% endblock %}