{# 'page_allcomments.twig' ~ Page displaying all the comments OF A POST (see 'page_managecomments.twig' for ALL comments of the site) #}

{% extends "includes/layout.twig" %}

{% block head %}
    <title>SilexBlog - {{ post.getTitle()|capitalize }}</title>
{% endblock %}

{% block body %}

    {% include "comments_display_list.twig" %}

{% endblock %}