{# 'posts_display.twig' ~ Page displaying all the posts (usually the homepage here) #}

{% extends "layout.twig" %}

{% block head %}
    <title>SilexBlog - Home</title>
{% endblock %}

{% block body %}

    <!-- <div class="centered">

    <p class="title">Todo List ~ TP3</p>

    {#% include "itemcreation.twig" %#}
        
    </div> -->

    {% include "posts_list.twig" %}

{% endblock %}