{# 'admin_home.twig' ~ Page displaying a sort of User panel #}

{% extends "layout.twig" %}

{% block head %}
    <title>SilexBlog - Home [User]</title>
{% endblock %}

{% block body %}

    <div class='menu'>
        
        <!-- Connected - Header -->
        <p class='title'>{{ user.getUsername() }} - User Panel</p><br />
        
        <!-- Management - Links -->
        <a href='{{app.request.basepath}}/home' class='btn btn-primary btn-block btntext' role='button'>Home</a>
        <a href='{{app.request.basepath}}/user/info' class='btn btn-primary btn-block btntext' role='button'>Account Informations</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block btntext' role='button'>Manage my Comments</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block btntext' role='button'>Another Button</a>
        <a href='{{app.request.basepath}}/auth/logout' class='btn btn-danger btn-block btntext' role='button'>Log out</a>
    </div>

{% endblock %}