{# 'user_home.twig' ~ Page displaying the User panel #}

{% extends "includes/layout.twig" %}

{% block head %}
    <title>SilexBlog - Home [User]</title>
{% endblock %}

{% block body %}

    <div class='usermenu'>
        
        <!-- Connected - Header -->
        <h1 class='title centered'>♦ {{ user.getUsername() }} ♦ - User Panel</h1><br />
        
        <!-- Management - Links -->
        <a href='{{app.request.basepath}}/' class='btn btn-primary btn-block' role='button'>Website Home</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-primary btn-block' role='button'>Account Informations</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block' role='button'>Manage my Comments</a>
        <a href='#NOT_YET_IMPLEMENTED' class='btn btn-warning btn-block' role='button'>Another Button</a>
        <a href='{{app.request.basepath}}/auth/logout' class='btn btn-danger btn-block' role='button'>Log out</a>
    </div>

{% endblock %}